body{
    background-image: url(../images/background.jpg);
    min-height: 100vh;
    background-size: cover;
	background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: 'Ubuntu Mono', monospace;
}

.heading {
    font-size: 3.5rem !important;
    font-family: 'Press Start 2P', cursive;
    color: #000000;
    margin-top: 1rem !important;
    padding-top: 15px;
}

h2 {
    font-size: 3rem;
    color: #000000;
}

.myChoice, #timer, #category, #prompt, #fixedAns   {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.5rem;
    color: #000000;
}

#quiz {
    margin-left: 3rem;
    text-align: center;
    margin-top: 4rem;
}

#correctAns, #wrongAns, #noAns, #reset {
    margin: 1rem;
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
}



